@page "/counter"
@rendermode InteractiveServer
@inject IDialogService _dialogService 

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    [CascadingParameter]
    public Error? Error { get; set; }
    private async Task IncrementCount()
    {
        try
        {
            if (currentCount > 5)
            {
                throw new InvalidOperationException("Current count is over five!");
            }
            currentCount++;
        }
        catch (Exception ex)
        {
            await Error?.ProcessError(ex);
        }
    }
}
